@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&family=JetBrains+Mono&family=Open+Sans&family=Poppins:wght@100;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Poppins';
    }
    
    html {
        @apply text-gray-600
    }

    pre {
        @apply p-3 bg-gray-100 rounded
    }
}

@layer components {
    .text-brand {
        font-size: 24px;
        color: black;
    }
}

@layer components {

}